.Home > main > section{
    position: relative;
    height: 100vh;
    width: 100vw;
    padding-top: 130px;
}

.Home > main > section > img{
    position: absolute;
    filter: brightness(70%); 
    top: 0;
    height: 120vh;
    width: 100vw;
    margin-top: -200px;
    z-index: -1;
}

.Home > main > section > div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    margin-top: 10rem;
}

.Home > main > section > div > div{
    width: 35vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Home > main > section > div > div > img{
    width: 10rem;
    border-radius: 0.3rem;
}

.Home > main > section > div > div > h1{
    color: var(--text-alternative);
    text-align: center;
    font-size: 4rem;
}

.Home > main > section > div > form{
    width: 35vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Home > main > section > div > form > input{
    width: 37rem;
    height: 3rem;
    border-radius: 0.3rem;
    padding: 1rem;
    font-size: 1.4rem;
}

.Home > main > section > div > form > button{
    height: 100%;
}

.Home > main > section > div > form > button > span{
    font-size: 64px;
}