.Header{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.Header > section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 150px;
    transition: all 350ms ease;
    border: var(--t);
}

.Header > section:first-child{
    height: 40px;
    align-items: start;
}
.Header > section:first-child.active{
    height: 200px;
}

.Header > section:nth-child(2){
    position: fixed;
    top: 35px;
    z-index: 999;
}
.Header > section:nth-child(2).active{
    top: 200px;
}
.Header > section:nth-child(2).roll{
    backdrop-filter: blur(5px);
}

.Header > section > div{
    flex: 2;
}

.Header > section > div > div > button{
    flex: 1;
}

.Header > section > div > div > a{
    text-decoration: none;
    color: var(--text-alternative);
    transition: all 350ms ease;
    height: 35px;
    vertical-align: middle;
    padding-top: 7px;
    padding: 7px 1.5rem;
}
.Header > section > div > div > a:hover{
    opacity: .7;
}

.Header > section > div > div > form{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex: 5;
    visibility: hidden;

}
.Header > section > div > div > form.active{
    visibility: visible;
}

.Header > section > div > div > form > input{
    width: 17vw;
    height: 22px;
    border-radius: 2px;
    margin-right: 5px;
}

.Header > section > div:first-child{
    flex: 3;
    position: relative;
    background: rgba(0, 0, 0, .2);
    height: 100%;
    width: 100%;
}

.Header > section > div:first-child > div{
    visibility: hidden;
}

.Header > section > div:first-child > div.active{
    visibility: visible;
}

.Header > section > div:nth-child(2) > div:first-child{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 50px;
}

.Header > section > div:nth-child(2) > .spc{
    width: 100%;
    height: 5px;
    background: rgba(0, 0, 0, .2);
    transition: all 350ms ease;
}
.Header > section > div:nth-child(2) > .spc.active{
    height: 165px;
}

.Header > section > div:nth-child(2) > .spc > p{
    visibility: hidden;
}
.Header > section > div:nth-child(2) > .spc.active > p{
    visibility: visible;
}

.Header > section > div:first-child > p{
    height: 35px;
    padding-top: 10px;
}
.Header > section > div:first-child > p::after{
    content:"";
    position: absolute;
    right: -36px;
    top: -1px;
    border-right: 18px solid transparent;
    border-top: 18px solid transparent;
    border-bottom: 18px solid rgba(0, 0, 0, .2);
    border-left: 18px solid rgba(0, 0, 0, .2);
}

.Header > section > div:first-child > p > img{
    width: 15px;
    border-radius: 1px;
    margin: 0 10px;
}

.Header > section > div:first-child > p > span{
    text-decoration: underline;
    cursor: pointer;
    transition: all 350ms ease;
    margin-left: 5px;
}
.Header > section > div:first-child > p > span:hover{
    opacity: .7;
}

.Header > section > nav{
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.Header > section > nav > a{
    text-decoration: none;
    color: var(--text-alternative2);
    transition: all 350ms ease;
}
.Header > section > nav > a:hover{
    opacity: .7;
}

.Header > section > nav > a:first-child > div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    gap: 15px;
}

.Header > section > nav > a:first-child > div > img{
    width: 60px;
    border-radius: 3px;
}